.custom-container-category {
  min-height: 150px;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}
.custom-row-category {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.custom-container-category:hover .page-item {
  opacity: 1;
}
.page-item {
  position: absolute;
  background-color: #fff;
  z-index: 100;
  top: 50%;
  /* Equal to .page-link / 2 */
  margin-top: -50px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
/* Equal to col-sm-12 padding */
.page-item.prev {
  left: 15px;
}
/* Equal to col-sm-12 padding */
.page-item.next {
  right: 15px;
}
.page-link {
  line-height: 100px;
  border: none;
  padding: 0;
}
